@import 'tailwindcss';

@layer base {
  
    h1 {
      font-size: var(--text-4xl);
      font-weight: bold;
      font-family: 'Geologica', sans-serif;
    }
    h2 {
      font-size: var(--text-3xl);
      font-weight: bold;
    }
    h3 {
      font-size: var(--text-2xl);
      font-weight: bold;
    }
    h4 {
      font-size: var(--text-xl);
      font-weight: bold;
    }
    h5 {
      font-size: var(--text-lg);
      font-weight: bold;
    }
    h6 {
      font-size: var(--h6-size);
      font-weight: bold;
    }
  }

.fustat {
  font-family: 'Fustat', sans-serif;
}

.geologica {
  font-family: 'Geologica', sans-serif;
}
